# Settings
/.settings/
/cpu/.settings/
/kernel/.settings/
/memoria/.settings/
/fileSystem/.settings/

# Metadata
/.metadata/
/cpu/.metadata/
/kernel/.metadata/
/memoria/.metadata/
/fileSystem/.metadata/

# Autotools
/.autotools/
/cpu/.autotools/
/kernel/.autotools/
/memoria/.autotools/
/fileSystem/.autotools/

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Eclipse
*.cproject
*.project

# Log
*.log

# Configuraciones
*.xml

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Debug folders
/kernel/Debug/
/consola/Debug/
/cpu/Debug/
/file_system/Debug/
/memoria/Debug/
/Debug/
/fileSystem/Debug/

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
