IP_MEMORIA=127.0.0.1
PUERTO_MEMORIA=8002
PUERTO_ESCUCHA=8003
PATH_SUPERBLOQUE=./tuki-pruebas/prueba-base/superbloque.dat
PATH_BITMAP=./modules/fileSystem/archivos/bitmap.dat
PATH_BLOQUES=./modules/fileSystem/archivos/archivo_de_bloques.dat
PATH_FCB=./modules/fileSystem/archivos/fcb/
RETARDO_ACCESO_BLOQUE=15000
